/*:root{
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff
}*/
/*body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #FBFBFE;
  }*/
.page__content{
    background-color: #f7f7f7;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    padding: 10px 10px;
}

a {
    color: #00B7FF;
}

.cart-items {
    display: flex;
    align-items: self-start;
    justify-content: flex-end;
    gap: 21px;
}

.page-heading {
    position: relative;
    text-align: center
}

.page-heading_h1 {
    font-size: calc(1.325rem + .9vw);
    font-weight: 500
}

@media(min-width: 1200px) {
    .page-heading_h1 {
        font-size: 2rem
    }
}

.page-heading_m-h1 {
    margin-bottom: 3rem;
    margin-top: 5rem;
}

/*.page-heading:after {
    background: var(--red-40);
    bottom: -25px;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 60px
}*/

.product-page {
    background: #fff;
    padding: 2rem;
    border: 1px solid #dedede;
    border-radius: 8px;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.product-page__hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    margin: 30px 0;
    opacity: 1;
}

.product-gallery__thumb-link {
    border-color: #000;
    opacity: 1;
}

.product-small-box {
    border-color: #000;
    opacity: 1;
}

.product-gallery__thumbs {
    flex-shrink: 0;
}

.list-inline,
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.product-gallery__thumbs {
    flex-shrink: 0;
}

.description {
    margin: 2.5rem 0 1rem;
    line-height: 1.5;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}
.btn-action, .btn-action:focus, .btn-action:hover, .btn-check:focus+.btn-action {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.breadcrumb-wrapper {
    background-color: #f8f8f8;
    display: block;
    margin-bottom: 1rem;
    padding: 10px 12px
}

.breadcrumb-wrapper .breadcrumb {
    margin-bottom: 0
}

.breadcrumb-wrapper .breadcrumb-item a {
    color: #333;
    text-decoration: none
}

.breadcrumb-wrapper .breadcrumb-item a:hover {
    text-decoration: underline
}
.cart-button {
    text-decoration: none;
}

@-webkit-keyframes hamburger-btn-toggle-first {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(45deg)
    }
}

@keyframes hamburger-btn-toggle-first {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(45deg)
    }
}

@-webkit-keyframes hamburger-btn-toggle-last {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-45deg)
    }
}

@keyframes hamburger-btn-toggle-last {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-45deg)
    }
}

.page-footer__header {
    margin-top: 0
}

.page-footer .company-info-wrapper {
    width: 33.33%;
}

.products__item {
    border-radius: 0;
    overflow: hidden;
    border-radius: 8px
}

.products__item:hover {
    box-shadow: none
}

.products__title {
    font-weight: bold;
}

.products__price .current {
    font-weight: 400
}

.product_page__header {
    font-weight: 400
}

@-webkit-keyframes move-rhomb {
    0% {
        left: 0
    }

    20% {
        left: 100%
    }

    to {
        left: 100%
    }
}

@keyframes move-rhomb {
    0% {
        left: 0
    }

    20% {
        left: 100%
    }

    to {
        left: 100%
    }
}

.btn-anim {
    position: relative
}

.btn-anim:before {
    -webkit-animation: move-rhomb 5s linear infinite;
    animation: move-rhomb 5s linear infinite;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.03) 1%,hsla(0,0%,100%,.6) 30%,hsla(0,0%,100%,.85) 50%,hsla(0,0%,100%,.85) 70%,hsla(0,0%,100%,.85) 71%,hsla(0,0%,100%,0));
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    transform: skew(-10deg,0deg);
    width: 30px
}

.btn-resp-size {
    border-radius: 2rem;
    font-size: .8rem;
    padding: .5rem 1.5rem
}

@media(min-width: 576px) {
    .btn-resp-size {
        border-radius: 2rem;
        font-size: 1rem;
        padding: .5rem 1.5rem;
    }
}

.products {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 16px var(--bs-gutter-x,-.75rem) 24px;
    padding: 0
}

.products__item {
    background: #fff;
    border-radius: 5px;
    flex-shrink: 0;
    margin: 15px;
    padding: 10px;
    position: relative;
    transition: all .35s ease-in-out;
    width: calc((100% - (4 * 15px))/2)
}

@media(min-width: 992px) {
    .products__item {
        width:calc((100% - (6 * 15px))/3)
    }
}

.products__item:hover {
    border-color: var(--cool-grey-50);
}

/*.products__item:hover .products__image .img img {
    transform: scale(1.1)
}*/

.products__item-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: center
}

.products__title {
    flex-grow: 2;
    font-size: 18px;
    margin: 1rem 0 2rem;
}

@media(min-width: 576px) {
    .products__title {
        font-size:18px;
    }
}

.products__title {
    color: var(--cool-grey-10);
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: self-end;
    flex-grow: 0;
}

.products__image {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-decoration: none !important;
}

.products__image .img {
    line-height: 0;
    flex-grow: 1;
}

.products__image .img>span {
    overflow: visible!important
}

.products__image .img img {
    min-height: 250px;
    /*transition: all .35s ease-in-out;*/
    /*width: 100%*/
}

.products__offer {
    margin: 0 0 15px
}

.products__price .from {
    font-size: .8rem
}

.products__price .from,.products__price .old {
    color: #6c757d;
    display: inline-block;
    margin: 0 5px
}

.products__price .old {
    font-size: .85rem
}

@media(min-width: 576px) {
    .products__price .old {
        font-size:1rem
    }
}

.products__price .current {
    display: inline-block;
    font-size: .85rem;
    font-weight: 500;
    margin: 0 5px
}

@media(min-width: 576px) {
    .products__price .current {
        font-size:1rem
    }
}

.products__price .current.has-old {
    color: #dc3545
}

.products .product__labels {
    left: 10px;
    position: absolute;
    top: 10px
}

.products .product__label {
    border-radius: 4px;
    margin: 0 0 6px
}

.products .product__label:last-child {
    margin-bottom: 0
}

.product__labels {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0
}

.product__labels_column {
    align-items: flex-start;
    flex-direction: column
}

.product__labels_small .product__label {
    font-size: .65rem;
    padding: 2px
}

@media(min-width: 576px) {
    .product__labels_small .product__label {
        font-size:.75rem;
        padding: 5px
    }
}

.product__label {
    display: inline-block;
    margin: 10px;
    padding: 5px 8px
}

.product-gallery {
    display: flex
}

.product-gallery__thumbs {
    flex-shrink: 0
}

.product-gallery__thumb {
    margin: 0 0 10px
}

.product-gallery__thumb.active .product-gallery__thumb-link {
    border-color: #000;
    opacity: 1
}

.product-gallery__thumb-link {
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    opacity: .3;
    padding: 4px;
    transition: .3s ease 0s
}

.product-gallery__thumb-link img {
    display: block;
    height: auto;
    max-width: 100%
}

.product-gallery__big-img {
    flex-grow: 1;
    margin: 0 40px;
    text-align: center
}

.variant-picker {
    margin: 0 0 1rem
}

.variant-picker__characteristic {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.variant-picker__characteristic:nth-child(2n) {
    background: #f8f8f8
}

.variant-picker__title {
    margin: 0px 25px 5px 5px;
    white-space: nowrap
}

.variant-picker__cases {
    display: flex;
    flex-wrap: wrap
}

.variant-picker__case-item {
    margin: 5px
}

.variant-picker__case-item .btn.out-of-stock {
    cursor: not-allowed
}

.variant-and-buy {
    margin: 0 5px;
}

.variant-and-buy__hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    margin: 30px 0;
    opacity: 1
}

.variant-and-buy__error {
    color: #a94442
}

.variant-and-buy__variants.has-error .variant-picker {
    background: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 4px
}

.price-and-buy__price {
    margin: 0 -5px 1rem
}

.price-and-buy__from {
    font-size: .9rem
}

.price-and-buy__from,.price-and-buy__old {
    color: #6c757d;
    display: inline-block;
    margin: 0 5px
}

.price-and-buy__old {
    font-size: 1.2rem;
    text-decoration: line-through
}

.price-and-buy__current {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 5px
}

.price-and-buy__current.has-old {
    color: #dc3545
}

.price-and-buy__benefit-label {
    margin: 0 5px 0 0
}

.price-and-buy__benefit-value {
    color: #dc3545
}

.price-and-buy__stock.in {
    color: #198754
}

.price-and-buy__stock.out {
    color: #6c757d;
    font-size: 1.5rem;
    font-weight: 500
}

.product-attrs {
    color: #777;
    margin-bottom: 20px
}

.product-attrs__item {
    align-items: flex-start;
    display: flex;
    margin-bottom: 9px
}

.product-attrs__item_brand .product-attrs__item-value {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap
}

.product-attrs__brand-img {
    display: block;
    height: auto;
    margin-right: 5px;
    max-width: 100px
}

.product-attrs__item-name-wrapper {
    background: 0 3px url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAANCAIAAAABnFjhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpi/P//PwMMMDEggUHAuX79OpwDEGAAGB4FnHfhVQUAAAAASUVORK5CYII=") repeat-x;
    font-weight: 400;
    margin-right: 10px;
    max-width: 140px;
    min-width: 140px;
    padding-right: 20px
}

@media(min-width: 576px) {
    .product-attrs__item-name-wrapper {
        max-width:205px;
        min-width: 205px
    }
}

.product-attrs__item-name {
    background: #fff
}

.product-attrs__item-value {
    margin: 0
}

.product-attrs__group {
    margin-bottom: 30px
}

.product-attrs__group-header {
    color: #333;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 16px
}

.product-page__hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    margin: 30px 0;
    opacity: 1
}

.product-page__description {
    margin: 1.5rem 0;
    max-width: 800px
}

.product-page__shipping-row {
    align-items: center;
    display: flex;
    margin-bottom: 15px
}

.products__to-cart {
    margin-bottom: 1rem;;
}

.category-title {
    color: var(--cool-grey-30);
}